#sidebar {
  min-height: 100vh;
  min-width: 250px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  padding: 15px;
  background: rgb(67, 65, 144) !important;
  color: white;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.sidebar-list-item {
 
  background: rgb(67, 65, 144) !important;
  color: rgb(163, 191, 250);
}

.sidebar-list-item:hover, .sidebar-list-item:focus{
  background: #CCCCFF !important;
  color: white;
}

.page-content-wrapper {
  width: 100%;
  padding: 15px;
}
