<!doctype html>
<html lang='en'>
  {% include head.html %}
  <body>
    <div class='d-flex' id='wrapper'>
      {% include navbar.html %}
      <div class='page-content-wrapper'>
        <h1 class='text-center'>{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
    {% include javascript.html %}
  </body>
</html>
